TDotNETProject/LectorASP/Service References/ProjectTSDotNETServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="TestAddSubject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintSubjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestAddChapter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintChapters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestAddStudentUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestAddQuestion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintQuestions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestAddTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintTests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestAddExamination">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintExaminations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestAddSolvedTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintSolvedTests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyRemoveCreateQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="question" nillable="true" type="q1:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyRemoveCreateTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="test" nillable="true" type="q2:Test" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOpp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOppResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetSubjectsResult" nillable="true" type="q3:ArrayOfSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChapters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChaptersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetChaptersResult" nillable="true" type="q4:ArrayOfChapter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetTestsResult" nillable="true" type="q5:ArrayOfTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetStudentsResult" nillable="true" type="q6:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetQuestionsResult" nillable="true" type="q7:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExaminations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExaminationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetExaminationsResult" nillable="true" type="q8:ArrayOfExamination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetUsersResult" nillable="true" type="q9:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetTestQuestionsResult" nillable="true" type="q10:ArrayOfTestQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolvedTests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolvedTestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetSolvedTestsResult" nillable="true" type="q11:ArrayOfSolvedTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="subjectID" type="q12:guid" />
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetSubjectResult" nillable="true" type="q13:Subject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChapter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chapterID" type="q14:guid" />
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChapterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetChapterResult" nillable="true" type="q15:Chapter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="testID" type="q16:guid" />
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetTestResult" nillable="true" type="q17:Test" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="studentID" type="q18:guid" />
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetStudentResult" nillable="true" type="q19:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="questionID" type="q20:guid" />
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetQuestionResult" nillable="true" type="q21:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamination">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="examinationID" type="q22:guid" />
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExaminationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetExaminationResult" nillable="true" type="q23:Examination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q24:guid" />
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetUserResult" nillable="true" type="q25:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="testQuestionID" type="q26:guid" />
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetTestQuestionResult" nillable="true" type="q27:TestQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolvedTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="solvedTestID" type="q28:guid" />
        <xs:element minOccurs="0" name="includeProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolvedTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="GetSolvedTestResult" nillable="true" type="q29:SolvedTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="question" nillable="true" type="q30:Question" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="responses" nillable="true" type="q31:ArrayOfResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="test" nillable="true" type="q32:Test" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ProjectClassLibrary" minOccurs="0" name="testQuestions" nillable="true" type="q33:ArrayOfTestQuestion" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="chaptersID" nillable="true" type="q34:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>